[MASTER]
fail-under=6.5
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    invalid-name,
    protected-access,
    import-error