[MASTER]
fail-under=9.0
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    invalid-name,
    protected-access,
    import-error

[SIMILARITIES]

min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes